.container {
  width: 280px;
  // width: 88%;
  margin-left: auto;
  margin-right: auto;

  @media (min-width: $breakpoint-medium) {
    width: 708px;
    // width: 92%;
  }

  @media (min-width: $breakpoint-large) {
    width: 1220px;
    // width: 94%;
  }
}
