.page-footer {
  padding: 20px;
  background-color: $color-gray-50;
}

.page-footer__container {
  @media (min-width: $breakpoint-medium) {
    display: flex;
    justify-content: space-between;
  }
}

.page-footer__socials-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
