.page {
  min-width: 320px;
  font-family: $font-body;
  font-size: 14px;
  line-height: 18px;
  height: 100%;
}

.page__body {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  margin: 0 auto;
}

.page__main {
  flex-grow: 1;
}
