.program-selection {
  padding: 20px;
}

.program-selection__button {
  padding: 10px;
  border: none;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  color: $color-white;
  background-color: $color-primary-500;
}
