.specials {
  padding: 20px;
  padding-bottom: 49px;

  @media (min-width: $breakpoint-medium) {
    padding: 45px 30px 47px 30px;
  }
}

.specials__list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  color: $color-gray-700;


  @media (min-width: $breakpoint-medium) {
    display: grid;
    gap: 60px;
    grid-template-columns: repeat(2, 1fr);
  }

  @media (min-width: $breakpoint-large) {
    gap: 70px;
    grid-template-columns: repeat(4, 1fr);
  }
}

.specials__item {
  display: grid;
  grid-template-columns: 60px 1fr;
  gap: 20px;

  @media (max-width: $breakpoint-small-down) {
    & + & {
      margin-top: 20px;
    }
  }

  @media (min-width: $breakpoint-medium) {
    position: relative;
    z-index: 0;

    min-height: 280px;
    padding-top: 40px;
    padding-right: 72px;
    grid-template-columns: auto;
    grid-template-rows: 80px auto;

    counter-increment: specials;
  }

  &::before {
    content: "";
    width: 60px;
    height: 60px;

    background-color: $color-primary-500;
    background-position: 50% 50%;
    background-repeat: no-repeat;

    @media (min-width: $breakpoint-medium) {
      width: 80px;
      height: 80px;
      margin-top: 0;
    }
  }

  &::after {
    @media (min-width: $breakpoint-medium) {
      content: counter(specials);
      position: absolute;
      top: 0;
      right: 80px;
      z-index: -1;

      color: $color-gray-50;

      font-family: $font-heading;
      font-size: 280px;
      line-height: 1;
    }
  }
}

.specials__item--benefit::before {
  background-image: url("../img/icons/benefit-icon.svg");
}

.specials__item--usability::before {
  background-image: url("../img/icons/usability-icon.svg");
}

.specials__item--instead::before {
  background-image: url("../img/icons/instead-icon.svg");
}

.specials__item--change::before {
  background-image: url("../img/icons/change-icon.svg");
}

.specials__item-desk {
  margin: 0;
}
