.button {
  display: inline-block;
  padding: 11px 12px;
  font-family: $font-heading;
  font-size: 14px;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  color: $color-white;
  background-color: $color-primary-500;
  border: none;

  @media (min-width: $breakpoint-medium) {
    font-size: 20px;
    padding: 14px 26px;
    line-height: 1;
  }

  &:hover {
    background-color: $color-primary-700;
  }

  &:focus {
    color: rgba($color-white, 0.8);
    background-color: $color-primary-700;
  }

  &:active {
    color: rgba($color-white, 0.3);
    background-color: $color-primary-700;
  }
}

.button--large {
  font-size: 16px;
  line-height: 1;

  @media (min-width: $breakpoint-medium) {
    font-size: 20px;
    padding-top: 16px;
    padding-bottom: 16px;
  }
}

.button--promo {
  @media (min-width: $breakpoint-medium) {
    padding: 17px 26px;
  }
}

.button--secondary {
  color: $color-gray-700;
  background-color: $color-gray-50;

  &:hover {
    background-color: $color-gray-100;
  }

  &:focus {
    color: rgba($color-gray-700, 0.8);
    background-color: $color-gray-100;
  }

  &:active {
    color: rgba($color-gray-700, 0.3);
    background-color: $color-gray-100;
  }
}

.button--fixed {
  font-size: 16px;

  @media (min-width: $breakpoint-medium) {
    padding: 11px 12px;
  }
}
