.offer {
  padding: 186px 60px 43px;
  background-color: $color-primary-500;
  background-repeat: no-repeat;
  background-size: auto, cover;
  background-position: 50% 58px, 50% 50%;
  background-image:
    url("../../images/offer-icon.svg"),
    url("../../images/offer-background-small.jpg");
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  color: $color-white;

  @media (min-resolution: 2dppx) {
    background-image:
      url("../../images/offer-icon.svg"),
      url("../../images/offer-background-small@2x.jpg");
  }

  @media (min-width: $breakpoint-medium) {
    padding: 70px 120px 70px 422px;
    background-image:
      url("../../images/offer-icon.svg"),
      url("../../images/offer-background-medium.jpg");
    background-position: 77px 50%, 50% 50%;
    text-align: left;

    @media (min-resolution: 2dppx) {
      background-image:
        url("../../images/offer-icon.svg"),
        url("../../images/offer-background-medium@2x.jpg");
    }
  }

  @media (min-width: $breakpoint-large) {
    padding: 178px 40px 48px;
    background-image:
      url("../../images/offer-icon.svg"),
      url("../../images/offer-background-large.jpg");
    background-position: 50% 50px, 50% 50%;
    text-align: center;

    @media (min-resolution: 2dppx) {
      background-image:
        url("../../images/offer-icon.svg"),
        url("../../images/offer-background-large@2x.jpg");
    }
  }
}

.offer__desk {
  margin: 0;
}
