.program-selection {
  overflow: hidden;

  @media (min-width: $breakpoint-medium) {
    padding-top: 28px;
  }

  @media (min-width: $breakpoint-large) {
    padding-top: 26px;
  }
}

.program-selection__form {
  @media (min-width: $breakpoint-medium) {
    padding-right: 40px;
    padding-left: 40px;
  }

  @media (min-width: $breakpoint-large) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 80px;
    padding-right: 0;
    padding-left: 0;
  }
}

.program-selection__form-group {
  margin: 0;

  & + & {
    margin-top: 25px;

    @media (min-width: $breakpoint-medium) {
      margin-top: 70px;
    }

    @media (min-width: $breakpoint-large) {
      &.program-selection__form-group--target {
        margin-top: 0;
      }
    }
  }
}

.program-selection__form-group + .program-selection__form-group--additional {
  margin-top: 22px;

  @media (min-width: $breakpoint-medium) {
    margin-top: 64px;
  }
}

.program-selection__form-group--contacts,
.program-selection__form-group--coment,
.program-selection__form-group--additional {
  @media (min-width: $breakpoint-large) {
    grid-column: 1 / -1;
  }
}

.program-selection .program-selection__form-group--target {
  margin-right: -21px;
  margin-left: -21px;
  border: 1px solid $color-gray-200;

  @media (min-width: $breakpoint-medium) {
    margin-right: 0;
    margin-left: 0;
  }
}

.program-selection__footer {
  margin-top: 34px;
  padding-bottom: 32px;
  text-align: center;

  @media (min-width: $breakpoint-medium) {
    margin-top: 51px;
    padding-bottom: 72px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    gap: 60px;
    text-align: left;
  }

  @media (min-width: $breakpoint-large) {
    grid-column: 1 / -1;
    margin-top: 59px;
    padding-bottom: 82px;
    gap: 80px;
  }
}

.program-selection__button {
  width: 100%;

  @media (max-width: $breakpoint-small-down) {
    margin-bottom: 21px;
  }
}

.program-selection__form-required-desk {
  margin: 0;
}
