.programs {
  padding-top: 20px;

  @media (min-width: $breakpoint-medium) {
    padding-top: 0;
  }

  @media (min-width: $breakpoint-large) {
    padding-top: 82px;
  }
}

.programs__list {
  display: grid;
  margin: 0;
  padding: 0;
  list-style-type: none;

  @media (max-width: $breakpoint-small-down) {
    gap: 20px;
  }

  @media (min-width: $breakpoint-medium) {
    gap: 30px;
  }

  @media (min-width: $breakpoint-large) {
    grid-template-columns: repeat(2, 1fr);
    gap: 80px;
  }
}

.programs__item {
  position: relative;
  padding: 22px 20px 18px;
  background-color: $color-gray-50;

  @media (min-width: $breakpoint-medium) {
    padding: 69px 316px 60px 52px;
  }

  @media (min-width: $breakpoint-large) {
    padding: 47px 52px 62px;
  }
}

.programs__item-title {
  position: relative;
  display: flex;
  align-items: center;
  min-height: 50px;
  margin: 0;
  margin-bottom: 22px;
  padding-left: 72px;
  font-family: $font-heading;
  font-size: 24px;
  font-weight: 400;
  line-height: 36px;
  text-transform: uppercase;

  @media (min-width: $breakpoint-medium) {
    position: static;
    margin-bottom: 18px;
    padding-left: 0;
    font-size: 36px;
  }

  @media (min-width: $breakpoint-large) {
    position: relative;
    min-height: 100px;
    padding-left: 162px;
    margin-bottom: 39px;
  }

  &::after,
  &::before {
    content: "";
    position: absolute;
  }

  &::before {
    top: 0;
    left: 0;

    width: 50px;
    height: 50px;
    background-color: $color-primary-500;
    border-radius: 50%;

    @media (min-width: $breakpoint-medium) {
      top: calc(50% - 95px);
      right: 62px;
      left: auto;

      width: 200px;
      height: 200px;
    }

    @media (min-width: $breakpoint-large) {
      top: calc(50% - 50px);
      right: auto;
      left: 0;
      width: 100px;
      height: 100px;
    }
  }

  &::after {
    background-size: contain;
  }
}

.programs__item-title--slim {
  &::after {
    top: -3px;
    left: 7px;
    width: 36px;
    height: 50px;
    background-image: url("../../images/cat-slim.svg");
    background-repeat: no-repeat;

    @media (min-width: $breakpoint-medium) {
      top: calc(50% - 106px);
      right: 92px;
      left: auto;
      width: 140px;
      height: 194px;
    }

    @media (min-width: $breakpoint-large) {
      top: calc(50% - 54px);
      left: 15px;
      width: 70px;
      height: 97px;
    }
  }
}

.programs__item-title--pro {
  &::after {
    top: 11px;
    left: -10px;
    width: 67px;
    height: 28px;
    background-image: url("../../images/cat-pro.svg");
    background-repeat: no-repeat;

    @media (min-width: $breakpoint-medium) {
      top: calc(50% - 51px);
      right: 28px;
      left: auto;
      width: 268px;
      height: 112px;
    }

    @media (min-width: $breakpoint-large) {
      top: calc(50% - 30px);
      left: -19px;
      width: 134px;
      height: 56px;
    }
  }
}

.programs__item-desc {
  margin: 0;
  margin-bottom: 15px;
  padding-bottom: 23px;
  color: $color-gray-700;
  border-bottom: 1px solid $color-gray-200;

  @media (min-width: $breakpoint-medium) {
    margin-bottom: 54px;
    padding-bottom: 0;
    border-bottom: none;
  }

  @media (min-width: $breakpoint-large) {
    margin-bottom: 30px;
  }
}

.programs__item-link {
  display: grid;
  grid-template-columns: max-content 32px;
  gap: 17px;
  align-items: center;
  font-family: $font-heading;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  text-transform: uppercase;
  text-decoration: none;
  color: $color-black;

  @media (min-width: $breakpoint-medium) {
    font-size: 20px;
    gap: 27px;
  }

  &::after {
    content: "";
    width: 24px;
    height: 10px;
    background-image: url("../../images/arrow-icon.svg");
    background-position: 100% 50%;
    background-repeat: no-repeat;
  }

  &:hover {
    &::after {
      width: 32px;
    }
  }

  &:focus {
    opacity: 0.8;

    &::after {
      width: 32px;
    }
  }

  &:active {
    opacity: 0.3;

    &::after {
      width: 32px;
    }
  }
}
